#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  width: 100%;
  margin-top:10px;
  color: #ffffff;
}

#cssmenu>ul>li{
	border-top: 0.4px solid white;
	border-bottom: 0.4px solid white;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #3C3F39;

  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  color: white;
}

#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border-top:1px solid #3C3F39;
  background: #e24e51;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #3C3F39;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background:#3C3F39;
}
#rg-login{
	background-color: #bf031c;
}
#rg-login div:first-child{
	background-color: #f5f5f5;
	padding-top:20px;
	padding-bottom: 20px;
}
#rg-contenido-login{
	color: white;
	font-family: 'Antic Didone', sans-serif !important;
}
#rg-contenido-login form{
	text-align: center;
	padding:30px;
}
#rg-contenido-login form p{
	font-size: 2em;
	text-align: left !important;
}
#rg-contenido-login form strong{
	font-size: 3em;
}
.rg-button{
	background-color: #f5f5f5;
	font-weight: bold;
	color:black;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right:40px;
	border-radius: 20px;
}
#rg-contenido-login form div input{
	margin-top:20px;
}
#rg-contenido-login form input{
	color:black;
}

.rg-container h1,h2,h3,h4,h5,h6{
      color: #a02628;
}
.rg-body{
      background-color: #e8cbcb;
}
#cerrarSesion:active{
  color: white;
}
#cerrarSesion{
      color: white;
    background-color: #af2124;
    padding: 10px 10px;
    border-radius: 10px;
}
.rg-table tr:first-child{

}
.rg-form span{
  color: #a04343;
    font-size: 1.5em;
}
.rg-form{
  margin-top:30px;
}
.sP{
  padding:0 !important;
}
#rg-select-doc{
  font-size: 0.8em;
}
.rg-btn-primary{
  background-color:#af2124;
  color:white;
  border:1px solid;
  padding:20px 20px;
  border-radius: 20px;
}
.rg-btn-search{
  background-color:#af2124;
  color:white;
  border: 1px solid;
  padding:10px 20px;
  border-radius: 15px;
}
body{
  font-family: 'Antic Didone', sans-serif !important;
}
.rg_seccion{
  float:left !important;
  border:1px solid black;
}
.rg_seccion_ative{
  background-color: #af2124;
  color: white;
}
.rg-boton-comprar{
  background-color: #af2124 !important;
}
.rg-titulo-index{
  color: #af2124 ;
}
.rg-detalle{
      text-align: center;
    background-color: #f17777 !important;
}
footer{
      margin-top: 40px !important;
    background-color: #af2124;
    color: white;
    padding: 20px;
    margin: 0;
    max-width: 100% !important;
}
.rg_cat_nom_prod{
  font-size: 1.5em;
  color: #d83237;
}
.rg_cat_precio{
  color:gray;
  font-size: 1.2em;
  position:relative;

}
.rg_btn_ver_detalle{
  color:white !important;
  background-color: #b83135;
  padding:10px 10px;
  position:relative;
  top:15px;
}
.rg_producto{
  margin-bottom:40px;
}
.btn_comprar{
  background-color: #b83135;
}
.btn_buscar{
  background-color: #b83135;
  color:white;
  border:0;
  padding:10px 20px 10px 20px;
}
#tipoProducto{
  width:300px;
  background-color: #d73236;
  color: white;
  border-radius: 10px;
}
.rg_select_doc{
  width:300px;
  background-color: #d73236;
  color: white;
  border-radius: 10px;
}
.reveal-overlay{
  background-color: white;
}
.close-reveal-modal{
  font-size: 40px;
    position: absolute;
    color: #af2124;
    background-color: white;
    right: 0;
}

.rg_new_client{
  background-color: #ffd966;
  color:black;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
}
.rg_tr_header, .rg_tr_clientes{
  font-size: 0.8em;
}
.rg_tab_opc{
  border:1px solid black;
  color:black;
  padding-top:5px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.rg_tab_opc:active, .rg_tab_opc:hover , .rg_tab_opc:visited{
  color:black;
}
.rg_tab_opc_active:active, .rg_tab_opc_active:hover , .rg_tab_opc_active:visited{
  color:white;
}
.rg_tab_opc_active{
  background-color: #b83135 !important;
  color:white;
}
.rg_new_client:hover{
  color:black;
}
.rg_new_client:active{
  color:black;
}
.rg_new_client:visited{
  color:black;
}
.rg_art_selected td{
  text-align:center !important;
}
.personal_bloqueado td{
  background-color:#af2124 !important;
  color:white !important;
}
.rg_right{
  text-align: right;
}
.rg_precio{
  color:red;
}
